@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Message"]</h2>

<address>
    <strong>Portland, OR</strong><br />
    <strong>Phone: 541.228.6464</strong><br />
    <strong>E-Mail:</strong> <a href="mailto:grainger.pdx@gmail.com">grainger.pdx@gmail.com</a><br />
    <strong>Matt's GitHub:</strong> <a href="https://github.com/m-grainger">https://github.com/m-grainger</a>
</address>

